/* Diagnostic Styling */
/* * {
  outline: 2px dotted gray;
}  */



body {
    background: #bfd3c1;
  }
  
  .time {
    font-family: Azeret Mono;
     font-size: 5em;
     font-weight: 800;
     text-align: center;
     background: #ffe5d4;
   }

   .date {
    font-family: Azeret Mono;
     font-size: 3em;
     font-weight: 600;
     text-align: center;
     background: #ffe5d4;
   }

   p {
    font-family: Azeret Mono;
     font-size: 2em;
     font-weight: 200;
     text-align: center;
     background: #ffe5d4;
   }